<?xml version="1.0"  encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.easybooks.test.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindBookServlet</servlet-name>
        <servlet-class>org.easybooks.test.servlet.FindBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindBookServlet</servlet-name>
        <url-pattern>/FindBook_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>org.easybooks.test.servlet.AddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBook_Servlet</url-pattern>
    </servlet-mapping>
</web-app>